/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: url("../public/img.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 40px;
}

/* .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 40px;
} */

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #b20e0e4a;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
  width: 320px;
}

.container:hover .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: #342fdc;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border: #0056b3 2px solid;
}

th,
td {
  padding: 12px 15px;
  border: #0056b3 1px solid;
}

th {
  background-color: #488bd2;
  color: #ffffff;
}

table tr:nth-child(even) {
  background-color: #abb8d5;
}

/* Responsive Design */
@media (max-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 90%;
  }
  button {
    width: 100%;
  }
  .overlay {
    font-size: 24px;
  }
  .container {
    background-image: url("../public/bg.gif");
  }
}
